.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  background: #FFC700;
  border-radius: 8px;
  color: #703A0C;
  text-transform: uppercase;
  width: fit-content;
  height: 68px;
  padding: 0 66px;

  &-trans {
    background: transparent;
    border: 1px solid #031F43;
    color: #031F43;
  }
  &-small {
    height: 56px;
    line-height: 30px;
  }
}