*{
  box-sizing: border-box;
}

html {
  /* Font size 10px */
  font-size: 62.5%;
  line-height: 1.6rem;
  box-sizing: border-box;
}
@font-face {
  font-family: 'a Awal Ramadhan';
  src: url("../fonts/aAwalRamadhan.ttf");
}
body {
  font-family: $font-share-family;
  color: $white-color;
}
.container {
  max-width: 1380px;
}
